* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.links {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid black;
  padding: 1rem;
}

.link {
  border: 2px solid black;
  padding: 0.6rem;
  transition: all 0.3s;
  color: #333;
}

.link:visited,
.link:link {
  text-decoration: none;
}

.link:active,
.link:hover {
  color: green;
  background-color: #fefee1;
}

.active {
  border: 2px solid red;
}
