* {
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  border: 3px solid blue;
  width: 15rem;
  gap: 0.6rem;
}

.img {
  width: 100%;
  height: 9.6rem;
}

.padded {
  padding: 1.6rem;
}
